body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
}

p {
  margin: 10px;
  text-align: center;
}

.wrapper {
  width: 325px;
}

.watermelon {
  display: block;
  margin: 0 auto;
  padding: 40px;
  height: 226px;
}

.title {
  border: 5px solid #eee;
  width: 200px;
  margin: 10px auto;
}
