body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
}

p {
  margin: 10px;
}

.wrapper {
  width: 325px;
}

.watermelon {
  display: block;
  margin: 0 auto;
  padding: 40px;
  height: 226px;
}
